

<form ng-submit="createBookmarkCtrl.createBookmark(newBookmark)">
    <pre>{{newBookmark}}</pre>
    <div class="form-group">
        <label for="title">Bookmark title</label>
        <input type="text" class="form-control" id="title" ng-model="newBookmark.title">
    </div>
    <div class="form-group">
        <label for="url">Bookmark URL</label>
        <input type="text" class="form-control" id="url" ng-model="newBookmark.url">
    </div>
    <button type="submit" class="btn btn-info">Create</button>
    <button type="button" class="btn btn-default pull-right" ng-click = createBookmarkCtrl.cancelCreating()>Cancel</button>
</form>
